body {
    background-color: lightblue
}
h1 {
    text-align: center;
    color: black;
    font-family: "Times New Roman";
    font-size: 60px;
}
h2 {
    text-align: left;
    color:blue;
    border: 2px solid gray;
    width: 95%;
    margin: 2% auto;
    background-color: beige
}
p {
    text-align: left;
    color: gray;
    width: 95%;
    margin: 1% auto;
    font-style: italic;
    font-weight: bold;
}
.name {
    font-weight: bold;
    font-size: 170%;
    float: left top;
}
.contact-info {
    float: right;
    width: 13%;
}
.address {
    width: 180px;
    margin: none;
    float: left;
}
.container-1 {
    margin: 3% auto;
    width: 95%;
}
.education {
    width: 60%;
}
.skills {
    width: 60%;
}